{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}Ngontrakindo - Verify{% endblock %}


{% block content %}
{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}
<div class="kepala" style="height: 100%;padding-top: 10%; padding-bottom: 10%">
	<div class="container w3-text-white">
		<div class="col-sm-8 col-sm-offset-2">
			 <h1 class="w3-text-yellow">Hai {{ user_display }}</h1>
			 <hr>
  			 <h4>Email Anda sudah dikonfirmasi. Silahkan log in dan lengkapi data diri anda.<br><br>Terima kasih</h4>
  			 <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
				{% csrf_token %}
				    <button type="submit" class="btn w3-teal w3-hover-teal w3-hover-text-yellow">Log In</button>
			 </form>
		</div>
	</div>
</div>
{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
{% endblock content %}