{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Ngontrakindo - Log Out{% endblock %}


{% block content %}
<div class="kepala" style="height: 100%;padding-top: 10%; padding-bottom: 10%">
	<div class="container w3-text-white">
		<div class="col-sm-8 col-sm-offset-2">
			 <h1 class="w3-text-yellow">Log Out</h1>
			 <hr>
  			 <h4>Anda yakin ingin Log Out?</h4>
  			 <form method="post" action="{% url 'account_logout' %}">
			  {% csrf_token %}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			  {% endif %}
			  <button class="btn w3-teal w3-hover-teal w3-hover-text-yellow" type="submit">{% trans 'Sangat yakin' %}</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}