{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Ngontrakindo - Ubah Password{% endblock %}


{% block content %}
<div style="height: 100%;padding-top: 8%; padding-bottom: 10%">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">
			 <h1>Ubah Password</h1>
			 <hr>

  			 <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
		        {% csrf_token %}
		        {{ form|crispy }}
				<a href="{% url 'editprofil' %}" class="btn w3-grey">< Kembali</a>
		        <input class="btn w3-teal w3-hover-teal w3-hover-text-yellow pull-right" type="submit" value="Ubah Password" />
		    </form>
		</div>
	</div>
</div>
{% endblock content %}