{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Ngontrakindo - Password Reset{% endblock %}


{% block content %}
<div class="kepala" style="height: 100%;padding-top: 10%; padding-bottom: 10%">
	<div class="container w3-text-white">
		<div class="col-sm-8 col-sm-offset-2">
			 <h1 class="w3-text-yellow">Password Anda berhasil dirubah</h1>
			 <hr>
  			 <h4>Silahkan <a class="w3-text-yellow" href="{% url 'account_login' %}">Log in</a>.</h4>
		</div>
	</div>
</div>
{% endblock content %}