{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Ngontrakindo - Password Reset{% endblock %}


{% block content %}
<div class="kepala" style="height: 100%;padding-top: 10%; padding-bottom: 10%">
	<div class="container w3-text-white">
		<div class="col-sm-8 col-sm-offset-2">
			 <h1 class="w3-text-yellow">Password Reset</h1>
			 <hr>
  			 <h4>Masukkan alamat email Anda di bawah ini. Kami akan mengirimkan email yang memungkinkan Anda menyetel ulang password Anda.</h4>

  			 <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
		        {% csrf_token %}
		        {{ form|crispy }}
		        <input class="btn w3-teal w3-hover-teal w3-hover-text-yellow" type="submit" value="{% trans 'Reset My Password' %}" />
		    </form>

  			 <p>Silahkan hubungi kami jika Anda memiliki masalah saat menyetel ulang kata sandi Anda.</p>

		</div>
	</div>
</div>
{% endblock content %}