{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Ngontrakindo - Password Reset{% endblock %}


{% block content %}
<div class="kepala" style="height: 100%;padding-top: 10%; padding-bottom: 10%">
	<div class="container w3-text-white">
		<div class="col-sm-8 col-sm-offset-2">
			 <h1 class="w3-text-yellow">{% if token_fail %}{% trans "Bad Token" %}{% else %}Ubah Password{% endif %}</h1>
			 <hr>
			 {% if token_fail %}
		        {% url 'account_reset_password' as passwd_reset_url %}
		        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
		     {% else %}

  			 	{% if form %}
		            <form method="POST" action="{{ action_url }}">
		                {% csrf_token %}
		                {{ form|crispy }}
		                <input class="btn w3-teal w3-hover-yellow" type="submit" name="action" value="Ubah Password"/>
		            </form>
		        {% else %}
		            <p>{% trans 'Your password is now changed.' %}</p>
		        {% endif %}
		    {% endif %}
		</div>
	</div>
</div>
{% endblock content %}