{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Ngontrakindo - Verify{% endblock %}


{% block content %}
<div class="kepala" style="height: 100%;padding-top: 10%; padding-bottom: 10%">
	<div class="container w3-text-white">
		<div class="col-sm-8 col-sm-offset-2">
			 <h1 class="w3-text-yellow">Cek Inbox Email Anda</h1>
			 <hr>
  			 <p>Kami telah mengirim e-mail kepada Anda untuk verifikasi. Ikuti link yang diberikan untuk menyelesaikan proses pendaftaran. Silahkan hubungi kami jika Anda tidak menerimanya dalam beberapa menit.</p>
		</div>
	</div>
</div>
{% endblock content %}