{% extends "pemilik2.html" %}
{% load staticfiles %}
{% load account %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div id="Kontrakan" class="w3-main city" style="margin-left:300px;margin-top:43px;">
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h2><b>Kontrakan</b></h2>
  </header>

  <div class="w3-container">
  	<ul class="nav nav-tabs nav-justified">
	  <li class="w3-indigo active"><a data-toggle="tab" href="#profil"><i class="fa fa-3x fa-home"></i><h5> Profil</h5></a></li>
	  <li class="w3-indigo"><a data-toggle="tab" href="#fasilitas"><i class="fa fa-3x fa-bed"></i><h5> Fasilitas</h5></a></li>
	  <li class="w3-indigo"><a data-toggle="tab" href="#biaya"><i class="fa fa-3x fa-money"></i><h5> Biaya</h5></a></li>
	</ul>

	<div class="tab-content" style="padding-bottom: 60px">
	  <div id="profil" class="tab-pane w3-white w3-card fade in active">
	      	<div class="w3-container"><br>
	      	<div class="col-sm-10 col-sm-offset-1" style="padding-bottom: 10px">
            <form action="" method="POST">
            {% csrf_token %}
	      	{{ form3|crispy }}
            <button type="submit" class="w3-button w3-indigo w3-hover-text-yellow w3-hover-indigo pull-right">Simpan</button>
            </form>
	      	</div>
	      	</div>
		</div>

	  <div id="fasilitas" class="tab-pane w3-white w3-card fade">
	      	<div class="w3-container"><br>
	      	<div class="col-sm-10 col-sm-offset-1" style="padding-bottom: 10px">
            <form action="" method="POST">
            {% csrf_token %}
	      		<div id="div_id_luas" class="form-group"> <label for="id_luas" class="control-label  requiredField">
                Luas Kontrakan(meter)<span class="asteriskField">*</span> </label> <div class="controls "> <input type="text" name="luas" value="4x3" required="" class="textinput textInput form-control" id="id_luas"> <p id="hint_id_luas" class="help-block">Misal: 8x5</p> </div> </div>

                <div class="row">
        <h4><b>Sumber Daya</b></h4>
                <div class="col-sm-6">
                <div id="div_id_listrik" class="form-group"> <label for="id_listrik_0" class="control-label  requiredField">
                Listrik<span class="asteriskField">*</span> </label> <div class="controls "> <div class="radio"> <label class=""> <input type="radio" checked="checked" name="listrik" id="id_listrik_1" value="1">Masuk Biaya Sewa
        </label> </div> <div class="radio"> <label class=""> <input type="radio" name="listrik" id="id_listrik_2" value="2">Di Luar Biaya Sewa
        </label> </div> </div> </div>
        </div>
        		<div class="col-sm-6">
        <div id="div_id_air" class="form-group"> <label for="id_air_0" class="control-label  requiredField">
                Air<span class="asteriskField">*</span> </label> <div class="controls "> <div class="radio"> <label class=""> <input type="radio" name="air" id="id_air_1" value="1">PDAM(Masuk Biaya Sewa)
        </label> </div> <div class="radio"> <label class=""> <input type="radio" name="air" id="id_air_2" value="2">PDAM(Di Luar Biaya Sewa)
        </label> </div> <div class="radio"> <label class=""> <input type="radio" checked="checked" name="air" id="id_air_3" value="3">Pompa
        </label> </div> </div> </div> 
        </div>
        </div>

        <div class="row">
        <h4><b>Fasilitas Ruangan</b></h4>
        <div class="col-sm-6">
        <div class="form-group"> <div id="div_id_kasur" class="checkbox"> <label for="id_kasur" class=""> <input type="checkbox" name="kasur" checked="" class="checkboxinput" id="id_kasur">
                    Kasur
                </label> </div> </div> <div class="form-group"> <div id="div_id_lemari" class="checkbox"> <label for="id_lemari" class=""> <input type="checkbox" name="lemari" checked="" class="checkboxinput" id="id_lemari">
                    Lemari
                </label> </div> </div> <div class="form-group"> <div id="div_id_tv" class="checkbox"> <label for="id_tv" class=""> <input type="checkbox" name="tv" class="checkboxinput" id="id_tv">
                    Tv
                </label> </div> </div> 
                </div>
        <div class="col-sm-6">
        		<div class="form-group"> <div id="div_id_ac" class="checkbox"> <label for="id_ac" class=""> <input type="checkbox" name="ac" checked="" class="checkboxinput" id="id_ac">
                    Ac
                </label> </div> </div> <div class="form-group"> <div id="div_id_wifi" class="checkbox"> <label for="id_wifi" class=""> <input type="checkbox" name="wifi" checked="" class="checkboxinput" id="id_wifi">
                    Wifi
                </label> </div> </div> 
                </div>
                </div>

        <div class="row">
        <h4><b>MCK</b></h4>
        <div class="col-sm-6">
        		<div class="form-group"> <div id="div_id_kamar_mandi_dalam" class="checkbox"> <label for="id_kamar_mandi_dalam" class=""> <input type="checkbox" name="kamar_mandi_dalam" checked="" class="checkboxinput" id="id_kamar_mandi_dalam">
                    Kamar mandi dalam
                </label> </div> </div> <div class="form-group"> <div id="div_id_kamar_mandi_luar" class="checkbox"> <label for="id_kamar_mandi_luar" class=""> <input type="checkbox" name="kamar_mandi_luar" class="checkboxinput" id="id_kamar_mandi_luar">
                    Kamar mandi luar
                </label> </div> </div> <div class="form-group"> <div id="div_id_kloset_duduk" class="checkbox"> <label for="id_kloset_duduk" class=""> <input type="checkbox" name="kloset_duduk" checked="" class="checkboxinput" id="id_kloset_duduk">
                    Kloset duduk
                </label> </div> </div> 
                </div>
        <div class="col-sm-6">
        		<div class="form-group"> <div id="div_id_kloset_jongkok" class="checkbox"> <label for="id_kloset_jongkok" class=""> <input type="checkbox" name="kloset_jongkok" class="checkboxinput" id="id_kloset_jongkok">
                    Kloset jongkok
                </label> </div> </div> <div class="form-group"> <div id="div_id_shower" class="checkbox"> <label for="id_shower" class=""> <input type="checkbox" name="shower" checked="" class="checkboxinput" id="id_shower">
                    Shower
                </label> </div> </div> <div class="form-group"> <div id="div_id_wastafel" class="checkbox"> <label for="id_wastafel" class=""> <input type="checkbox" name="wastafel" checked="" class="checkboxinput" id="id_wastafel">
                    Wastafel
                </label> </div> </div> 
                </div>
                </div>

		<div class="row">
        <h4><b>Fasilitas Umum</b></h4>
        <div class="col-sm-6">
        		<div class="form-group"> <div id="div_id_dapur" class="checkbox"> <label for="id_dapur" class=""> <input type="checkbox" name="dapur" checked="" class="checkboxinput" id="id_dapur">
                    Dapur
                </label> </div> </div> <div class="form-group"> <div id="div_id_laundry" class="checkbox"> <label for="id_laundry" class=""> <input type="checkbox" name="laundry" checked="" class="checkboxinput" id="id_laundry">
                    Laundry
                </label> </div> </div> <div class="form-group"> <div id="div_id_jemuran" class="checkbox"> <label for="id_jemuran" class=""> <input type="checkbox" name="jemuran" checked="" class="checkboxinput" id="id_jemuran">
                    Jemuran
                </label> </div> </div> <div class="form-group"> <div id="div_id_parkir_mobil" class="checkbox"> <label for="id_parkir_mobil" class=""> <input type="checkbox" name="parkir_mobil" class="checkboxinput" id="id_parkir_mobil">
                    Parkir mobil
                </label> </div> </div> <div class="form-group"> <div id="div_id_parkir_motor" class="checkbox"> <label for="id_parkir_motor" class=""> <input type="checkbox" name="parkir_motor" checked="" class="checkboxinput" id="id_parkir_motor">
                    Parkir motor
                </label> </div> </div> 
                </div>
        <div class="col-sm-6">
        		<div class="form-group"> <div id="div_id_gerbang" class="checkbox"> <label for="id_gerbang" class=""> <input type="checkbox" name="gerbang" checked="" class="checkboxinput" id="id_gerbang">
                    Gerbang
                </label> </div> </div> <div class="form-group"> <div id="div_id_satpam" class="checkbox"> <label for="id_satpam" class=""> <input type="checkbox" name="satpam" class="checkboxinput" id="id_satpam">
                    Satpam
                </label> </div> </div> <div class="form-group"> <div id="div_id_cctv" class="checkbox"> <label for="id_cctv" class=""> <input type="checkbox" name="cctv" checked="" class="checkboxinput" id="id_cctv">
                    Cctv
                </label> </div> </div> 
                </div>
                </div>

		<div class="row">
        <h4><b>Lingkungan Sekitar</b></h4>
        <div class="col-sm-6">
        		<div class="form-group"> <div id="div_id_rumah_sakit" class="checkbox"> <label for="id_rumah_sakit" class=""> <input type="checkbox" name="rumah_sakit" checked="" class="checkboxinput" id="id_rumah_sakit">
                    Rumah sakit
                </label> </div> </div> <div class="form-group"> <div id="div_id_rumah_makan" class="checkbox"> <label for="id_rumah_makan" class=""> <input type="checkbox" name="rumah_makan" checked="" class="checkboxinput" id="id_rumah_makan">
                    Rumah makan
                </label> </div> </div> <div class="form-group"> <div id="div_id_pasar" class="checkbox"> <label for="id_pasar" class=""> <input type="checkbox" name="pasar" checked="" class="checkboxinput" id="id_pasar">
                    Pasar
                </label> </div> </div> <div class="form-group"> <div id="div_id_mall" class="checkbox"> <label for="id_mall" class=""> <input type="checkbox" name="mall" checked="" class="checkboxinput" id="id_mall">
                    Mall
                </label> </div> </div> 
                </div>
        <div class="col-sm-6">
        		<div class="form-group"> <div id="div_id_mini_market" class="checkbox"> <label for="id_mini_market" class=""> <input type="checkbox" name="mini_market" checked="" class="checkboxinput" id="id_mini_market">
                    Mini market
                </label> </div> </div> <div class="form-group"> <div id="div_id_stasiun" class="checkbox"> <label for="id_stasiun" class=""> <input type="checkbox" name="stasiun" checked="" class="checkboxinput" id="id_stasiun">
                    Stasiun
                </label> </div> </div> <div class="form-group"> <div id="div_id_terminal_bus" class="checkbox"> <label for="id_terminal_bus" class=""> <input type="checkbox" name="terminal_bus" checked="" class="checkboxinput" id="id_terminal_bus">
                    Terminal bus
                </label> </div> </div> <div class="form-group"> <div id="div_id_akses_tol" class="checkbox"> <label for="id_akses_tol" class=""> <input type="checkbox" name="akses_tol" checked="" class="checkboxinput" id="id_akses_tol">
                    Akses tol
                </label> </div> </div> 
                </div>
                </div>
		<div class="row">
                <h4><b>Fasilitas Lain</b></h4>
            </div>
            	<div id="div_id_fasilitas_lain" class="form-group">
            	<div class="controls "> <textarea name="fasilitas_lain" id="id_fasilitas_lain" rows="10" cols="40" class="textarea form-control"></textarea> </div> </div>
            <button type="submit" class="w3-button w3-indigo w3-hover-text-yellow w3-hover-indigo pull-right">Simpan</button>
            </form>
            <br>
            </div>
            </div>
	  </div>
	  <div id="biaya" class="w3-white w3-card tab-pane fade">
	      	<div class="w3-container"><br>
	      	<div class="col-sm-10 col-sm-offset-1" style="padding-bottom: 10px">
            <form action="" method="POST">
            {% csrf_token %}
	    	<div id="div_id_penghuni_max" class="form-group"> <label for="id_penghuni_max" class="control-label  requiredField">
                Penghuni Maksimal<span class="asteriskField">*</span> </label> <div class="controls "> <input type="number" name="penghuni_max" value="4" required="" class="numberinput form-control" id="id_penghuni_max"> </div> </div> 
                <div class="form-group"> <div hidden id="div_id_harian" class="checkbox"> <label for="id_harian" class=""> <input type="checkbox" name="harian" checked="" class="checkboxinput" id="id_harian">
                    Harian
                </label> </div> </div> 
                <div id="div_id_per_hari" class="form-group"> <label for="id_per_hari_0" class="control-label ">
                Per hari
            </label> <div class="controls "> <input type="number" name="per_hari_0" value="30000.00" step="0.01" class="numberinput form-control" id="id_per_hari_0">

<select hidden name="per_hari_1" class="select form-control" id="id_per_hari_1"> <option value="IDR" selected="">Rupiah</option>
</select> </div> </div> 
<div class="form-group"> <div hidden id="div_id_mingguan" class="checkbox"> <label for="id_mingguan" class=""> <input type="checkbox" name="mingguan" checked="" class="checkboxinput" id="id_mingguan">
                    Mingguan
                </label> </div> </div> 
                <div id="div_id_per_minggu" class="form-group"> <label for="id_per_minggu_0" class="control-label ">
                Per minggu
            </label> <div class="controls "> <input type="number" name="per_minggu_0" value="160000.00" step="0.01" class="numberinput form-control" id="id_per_minggu_0">

<select hidden name="per_minggu_1" class="select form-control" id="id_per_minggu_1"> <option value="IDR" selected="">Rupiah</option> </select> </div> </div> 
<div class="form-group"> <div hidden id="div_id_bulanan" class="checkbox"> <label for="id_bulanan" class=""> <input type="checkbox" name="bulanan" checked="" class="checkboxinput" id="id_bulanan">
                    Bulanan
                </label> </div> </div> 
                <div id="div_id_per_bulan" class="form-group"> <label for="id_per_bulan_0" class="control-label ">
                Per bulan
            </label> <div class="controls "> <input type="number" name="per_bulan_0" value="700000.00" step="0.01" class="numberinput form-control" id="id_per_bulan_0">

<select hidden name="per_bulan_1" class="select form-control" id="id_per_bulan_1"> <option value="IDR" selected="">Rupiah</option> </select> </div> </div> 
<div class="form-group"> <div hidden id="div_id_tahunan" class="checkbox"> <label for="id_tahunan" class=""> <input type="checkbox" name="tahunan" class="checkboxinput" id="id_tahunan">
                    Tahunan
                </label> </div> </div> 
                <div id="div_id_per_tahun" class="form-group"> <label for="id_per_tahun_0" class="control-label ">
                Per tahun
            </label> <div class="controls "> <input type="number" name="per_tahun_0" step="0.01" class="numberinput form-control" id="id_per_tahun_0">

<select hidden name="per_tahun_1" class="select form-control" id="id_per_tahun_1"> <option value="IDR" selected="">Rupiah</option></select> </div> </div> 
<div id="div_id_denda" class="form-group"> <label for="id_denda_0" class="control-label ">
                Denda
            </label> <div class="controls "> <input type="number" name="denda_0" value="20000.00" step="0.01" class="numberinput form-control" id="id_denda_0">
<select hidden name="denda_1" class="select form-control" id="id_denda_1"> <option value="IDR" selected="">Rupiah</option></select> </div> </div> 
<div id="div_id_syarat_ketentuan" class="form-group"> <label for="id_syarat_ketentuan" class="control-label ">
                Syarat ketentuan
            </label> <div class="controls "> <textarea name="syarat_ketentuan" id="id_syarat_ketentuan" rows="10" cols="40" class="textarea form-control">asdasdasdasd</textarea> </div> </div>
            <button type="submit" class="w3-button w3-indigo w3-hover-text-yellow w3-hover-indigo pull-right">Simpan</button>
            </form>
	    	</div>
	    </div>
	  </div>
	</div>
  </div>


  <!-- End page content -->
</div>
{% endblock %}