{% extends "pemilik2.html" %}
{% load staticfiles %}
{% load account %}
{% load crispy_forms_tags %}

{% block header %}
<div class="w3-bar w3-top w3-teal w3-large" style="z-index:4;">
  <button id="menu" class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <button id="close" class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" style="display: none;" onclick="w3_close();"><i class="fa fa-close"></i>  Close</button>
  <span class="w3-bar-item w3-right"><a class="w3-hover-text-yellow" href="/k/{{ kontrakan.slug }}" target="blank">{{ kat }} {{ kontrakan.nama }}</a></span>
</div>
</div>
{% endblock %}

{% block content %}
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h2><b>Transaksi</b></h2><br>
  </header>

  <div class="w3-container">
  <div class="row">
  <div class="col-sm-12">
{% if not penghuni.exists %}
  <!-- <h1>Belum ada penghuni</h1> -->
      <b>Belum ada penghuni dari Ngontrakindo</b></tr>
{% else %}
<div class="panel-group" id="accordion">
{% for p_detail, u_detail, penghuni, transaksi in z_detail %}
  <div class="panel panel-default w3-card">
    <div class="panel-heading w3-indigo">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter0 }}">
        <img src="{{ p_detail.avatar.url }}" class="w3-circle w3-margin-right" style="width:40px">{{ u_detail.first_name }} {{ u_detail.last_name }}</a>
      </h4>
    </div>
    <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse">
      <div class="panel-body">
        {% if not transaksi.exists %}
        <h4 class="w3-center">Belum ada transaksi</h4>
        {% else %}
        <table class="w3-table w3-white w3-hoverable w3-bordered w3-card-4">
        <tr>
        <td colspan="3" class="w3-text-grey w3-padding-16 w3-center"><b>Sudah ada transaksi</b></td>
        </tr>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}
    </div>
  </div><br>
  </div> 
</div>

{% endblock %}